/* header */
/*@media (max-width: 1199px) {*/
/*    .navbar-header {*/
/*        float: none;*/
/*    }*/
/*    .navbar-toggle {*/
/*        display: block;*/
/*    }*/
/*    .navbar-collapse {*/
/*        border-top: 1px solid transparent;*/
/*        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);*/
/*    }*/
/*    .navbar-collapse.collapse {*/
/*        display: none!important;*/
/*    }*/
/*    .navbar-nav {*/
/*        float: none!important;*/
/*        margin: 7.5px -15px;*/
/*    }*/
/*    .navbar-nav>li {*/
/*        float: none;*/
/*    }*/
/*    .navbar-nav>li>a {*/
/*        padding-top: 10px;*/
/*        padding-bottom: 10px;*/
/*    }*/
/*    .navbar-text {*/
/*        float: none;*/
/*        margin: 15px 0;*/
/*    }*/
/*    /* since 3.1.0 */
/*    .navbar-collapse.collapse.in { */
/*        display: block!important;*/
/*    }*/
/*    .collapsing {*/
/*        overflow: hidden!important;*/
/*    }*/
/*}*/

/* footer */
.footer {
    border-top: 1px solid #E5E5E5;
    color: #777;
    margin-top: 100px;
    padding-bottom: 40px;
    padding-top: 40px;
    text-align: center;
}

.footer-links {
    color: #999;
    margin-top: 20px;
    padding-left: 0px;
}
.footer-links li {
    display: inline;
    padding: 0px 2px;
}
.footer-links li:first-child {
    padding-left: 0px;
}

/* explore */
    /*http://paletton.com*/
.traffic-color-1 {
    color: #4DFA90
}
.traffic-color-1:hover {
    color: #07E95B
}
.traffic-color-1:active {
    color: #048434
}
.traffic-color-2 {
    color: #FABE4D
}
.traffic-color-2:hover {
    color: #B57F19
}
.traffic-color-2:active {
    color: #402A00
}
.traffic-color-3 {
    color: #FF5468
}
.traffic-color-3:hover {
    color: #FE0320
}
.traffic-color-3:active {
    color: #CF0018
}
.traffic-color-0 {
    color: #bbbbbb
}
.traffic-color-0:hover {
    color: #696969
}
.traffic-color-0:active {
    color: #0F0C0C}
.left {
    text-align: left;
}
.selects {
    padding-bottom:1em;
}

/* explore modal */
.modal-row {
    padding-bottom:0.5em
}
.modal-ul {
    list-style-type: none;
}
.modal-break-word {
    word-wrap: break-word;
}


/* front page */
#worldmap{
    background: white;
    height: 100%;
    width: 100%;
}
#worldmap-container {
    width: 100%;
    height: 450px;
    border: 1px solid #CCC;
}

/* menu in about */
.bs-docs-sidebar .nav > li > a {
	display: block;
	padding: 4px 20px;
	font-size: 13px;
	font-weight: 500;
	color: #767676;
}
.bs-docs-sidebar .nav .nav > li > a {
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 30px;
	font-size: 12px;
	font-weight: 400;
}
.bs-docs-sidebar .nav > .active:focus > a, .bs-docs-sidebar .nav > .active:hover > a, .bs-docs-sidebar .nav > .active > a {
	padding-left: 18px;
	font-weight: 700;
	color: #563D7C;
	background-color: transparent;
	border-left: 2px solid #563D7C;
}
.bs-docs-sidebar .nav > li > a:focus, .bs-docs-sidebar .nav > li > a:hover {
	padding-left: 19px;
	color: #563D7C;
	text-decoration: none;
	background-color: transparent;
	border-left: 1px solid #563D7C;
}
.bs-docs-sidebar .nav > li > a {
	display: block;
	padding: 4px 20px;
	font-size: 13px;
	font-weight: 500;
	color: #767676;
}
.nav > li > a:focus, .nav > li > a:hover {
	text-decoration: none;
	background-color: #EEE;
}

/* about */
.h2:hover, .h3:hover, .h4:hover, .h5:hover, .h6:hover {
    color: inherit;
    text-decoration: inherit;
}
